body{
    background-color: #eb9b34;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color:##4c616a;
}
.navbar{
    padding: .8rem;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #bb0000;
}
p{
    font-size: 25px;
    text-align: left;
}
footer{
    background-color: #40474e;
    color: white;
}



/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

#naslov{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #743c52;
}






