.naslov{
  color: black ;
  text-align: center;
  font-size: 24pt;
  text-shadow: 3px 3px 3px #999999;
}

body{
        background-image: url('background.png');
       
    }
.container div{
      color: black;
      border:1px blue solid;
}
  
.container {
      display: flex;
      
      flex-direction: row;
      justify-content: center;
      text-align: center;
}
  
.box1{
    flex: 9;
     background-color:  #EEEEEE;
}
    
.box2{
      flex: 1;
     background-color: cornflowerblue;
}
  
  
  