body{
        background-image: url('background.png');
       
    }
  .container div{
      color: blanchedalmond;
      border:1px blue solid;
  }
  
  .container {
      display: flex;
      justify-content: center;
  
     
     
      
     
     
  }
  
  .box1{
    flex: 9;
     background-color: coral;
    
     
     
  
     
    
     
  }
  
  .box2{
      flex: 1;
     background-color: cornflowerblue;
  }
  
  
  